*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
debug/
*.log
*.inx
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
funclist
nbproject/Makefile-*
disassembly/
*.map
doc/
.vscode/
queuelogs/